footer {
    background: #121212;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    height: 100px;
    img {
        width: 100%;
        max-width: 200px;
        margin: 0;
        padding: 10px;
    }
}