footer {
    background: transparent;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: -140px;
    margin-bottom: -140px;
    img {
        width: 100%;
        max-width: 200px;
        margin: 0;
        padding: 22px;
    }
    a {
        padding: 0 10px;
    }
}


.footer {
    background: transparent;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    img {
        width: 100%;
        max-width: 200px;
        margin: 0;
        padding: 22px;
    }
    a {
        padding: 0 10px;
        color: white;
        font-size: 20px;
        transition: 0.3s;
        &:hover {
            color: lightgrey;
            cursor: pointer;
        }
    }
}