.loadingPage {
    display: grid;
    height: 100vh;
    width: 100vw;
    div {
        align-self: center;
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
        .loadingPage__pikachu {
            height: 300px;
            display: block;
            margin: 0 auto;
        }
        .img__logo {
            width: 50px;
            display: block;
        }
    }
}