.modal__content {
    text-align: center;
    padding-top: 25px;
    h1 {
        margin-bottom: 20px;
    }
    input {
        padding: 10px;
        border: 2px solid lightgrey;
        border-radius: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}


.modal__content__deleteButtons {
    display: flex;
    justify-content: space-between;    
}