nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    .logo {
        img {
            max-width: 220px;
        }
    }
}