nav {
    
    z-index: 10;
    @include boxshadow;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    .logo {
        img {
            max-width: 150px;
        }
    }
    .navbar__buttons__faq {
        padding-right: 15px;
    }
}