.teamCard--create {
    border: 2px solid lightgrey;
    height: 96px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    button {
        border: none;
        background: none;
        &:hover {
            cursor: pointer;
        }
    }
    transition: 0.3s;
    &:hover {
        background: lightgrey;
    }
}

.TeamCard__bg {
    background: url('../assets/images/homepagebg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 120px 0;
    -webkit-box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    padding-bottom: 200px;
    margin-bottom: -200px;
}

.TeamCard__block {
    background: white;
    border: 2px solid lightgrey;
    width: 66%;
    margin: 0 auto;
    padding-bottom: 80px;
    border-radius: 15px;
    @include boxshadow;
}

.TeamCard__block__intro {
    padding: 40px 40px 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    p {
        padding-top: 10px;
    }
}

.Dash__modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 10px;
    max-width: 100%;
    grid-row-gap: 20px;
    img {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

.TeamCard__block__intro__img {
    width: 90%;
}

.TeamCard__block__intro__progress {
    margin-top: 20px;
    h1 {
        text-align: left;
        margin: 10px 0;
    }
}

.TeamCard__block__intro__progress__bars {
    display: flex;
    justify-content: space-between;
}


@media (max-width: $desktop-breakpoint) {
    .TeamCard__block {
        width: 90%;
        padding: 0 10px;
        padding-bottom: 40px;
    }

    .TeamCard__block__intro {
        grid-template-columns: 1fr;
    }

    .TeamCard__block__intro__img {
            margin-bottom: 20px;
    }
}