.teamCard {
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    max-width: 650px;
    margin: 20px auto 0 auto;
    background: white;
}

.teamCard__title {
    display: flex;
    justify-content: space-between;
    h1 {
        display: inline;
    }
    i, svg {
        &:hover {
            cursor: pointer;
        }
    }
}

.teamCard__pokemon {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 96px;
    img {
        max-width: 100%;
        align-self: center;
    }
}

.teamCard__plus {
    align-self: center;
}

