.teamCard {
    padding: 20px;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    margin-top: 20px;
    max-width: 650px;
}

.teamCard__title {
    display: flex;
    justify-content: space-between;
    h1 {
        display: inline;
    }
}

.teamCard__pokemon {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 96px;
}

.teamCard__plus {
    align-self: center;
}