.faq__bg {
    background: url('../assets/images/homepagebg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    -webkit-box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 47px -6px rgba(0,0,0,0.75);
    padding-bottom: 300px;
    margin-bottom: -200px;
}

.faq__block {
    text-align: center;
    z-index: 20;
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 140px;
    border: 3px solid lightgrey;
    @include boxshadow;
    p {
        padding: 40px;
    }
}



.homePage__second--faq {
    margin-top: 80px;
    top: 0;
}



.img__giratina {
    position: relative;
    width: 100%;
    right: -60px;
    top: 10px;
}

.img__mew {
    width: 80%;
    position: relative;
    left: -60px;
}

.img__raichu {
    width: 100%;
    position: relative;
}


.footer--faq {
    // top: -100px;
    position: relative;
    // margin-bottom: -200px;
}


@media (max-width: $desktop-breakpoint) {
    .img__giratina {
        display: none;
    }
    .img__mew {
        display: none;
    }
    .img__raichu {
        display: none;
    }
}