body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

$desktop-breakpoint: 62rem;
$tablet-breakpoint: 40rem;


.container {
    margin: 0 auto;
    max-width: 1100px;
}

.btn {
    padding: 0;
    background: none;
    border-radius: 10px;
    padding: 5px;
}