body, html {
    margin: 0;
    padding: 0;
    // font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    color: grey;
}

// colours
$off-grey: rgb(233, 233, 233);


$desktop-breakpoint: 62rem;
$tablet-breakpoint: 40rem;

.heading {
    text-align: center;
    font-size: 40px;
    color: #666666;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Nunito', sans-serif;
}

p {
    color: grey;
    // font-family: 'Raleway', sans-serif;
    line-height: 25px;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Playfair Display', serif;
    font-family: 'Nunito', sans-serif;
}

.page {
    min-height: 100vh;
}

.content {
    min-height: calc(100vh - 270.46px);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.container--small {
    width: 60%;
    margin: 0 auto;
}

.btn {
    padding: 0;
    background: white;
    border: 2px solid lightgrey;
    border-radius: 15px;
    padding: 10px 15px;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        background: $off-grey;
    }
    img {
        max-width: 15px;
        padding-left: 5px;
        vertical-align: middle;
    }
}