@import url('https://fonts.googleapis.com/css?family=Lato');
@import "./base/reset.scss";
@import "./index.scss";

@import "./ui/navbar.scss";

@import "./dashboard/TeamCard.scss";
@import "./dashboard//Dashboard.scss";

@import "./teamPage/PokemonPark.scss";
@import "./teamPage/TaskCard.scss";
@import "./teamPage/PokemonCard.scss";