.pokemonCard {
    // height: 100px;
    align-self: center;
        border: 2px solid rgb(155, 155, 155);
        border-radius: 10px;
        // background-image: linear-gradient(to bottom right, lightgrey, #fff);
        -webkit-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
        height:100%;
        // max-height: 180px;
        // min-height: 90px;
        // background: linear-gradient(to bottom right, rgba(211, 211, 211, 0.3), rgba(255, 255, 255, 0.1)), url('../assets/images/bg1.png') no-repeat center center fixed; 
        // background-position: 0% 200%;
        background: url('../assets/images/bg1.png') no-repeat center bottom;
        background-size:cover;
    img {
        
        margin: 0 auto;
        width: 100%;
    }
    .pokemonCard__icons {
        position: relative;
        top: 0;
        display: flex;
        padding: 10px 10px 0 10px;
        // color: rgb(147, 158, 170);
        color: white;
        justify-content: space-between;
        box-sizing: border-box;
        i, svg {
            &:hover {
                color: slategray;
                cursor: pointer;
            }
        }
        
    }

    .pokemonCard__egg {
        position: relative;
        top: -10%;
        // width: 60%;
        margin: 0 auto;
        box-sizing: border-box;
        // padding-bottom: 10px;
    }
}