.pokemonCard {
    align-self: center;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -23px rgba(0,0,0,0.75);
    background: linear-gradient(to bottom right, rgba(211, 211, 211, 0.3), rgba(255, 255, 255, 0.1)), url('../assets/images/bg1.png') no-repeat center bottom;
    background-size:cover;
    img {
        
        margin: 0 auto;
        width: 100%;
    }
    .pokemonCard__icons {
        position: relative;
        top: 0;
        display: flex;
        padding: 10px 10px 0 10px;
        color: white;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 10;
        i, svg {
            transition: 0.3s;
            &:hover {
                color: slategray;
                cursor: pointer;
            }
        }
        
    }

    .pokemonCard__egg {
        position: relative;
        top: -10%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .pokemonCard__egg--empty {
        img {
            opacity: 0;
        }
    }

    .pokemonCard__stars {
        width: 100%;
        display: flex;
        text-align: center;
        color: white;
        justify-content: center;
        padding-bottom: 1px;
        i, svg {
            margin: 0 1px;
        }
    }

    

}


.pokemonCard__modal__searchResults {
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
    }
}

.pokemonCard__modal__evolutions--three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemonCard__modal__evolutions--two {
    display: grid;
    grid-template-columns: 1fr 1fr;
}