.taskCard__title {
    text-align: center;
    input {
        max-width: 136px;
        text-align: center;
        border: none;
    }
}

.taskCard__tasks {
    border: 2px solid lightgrey;
    border-radius: 15px;
    padding: 15px 8px;
    padding-top: 40px;
    margin-bottom: 20px;
    z-index: 10;
    @include boxshadow--light;
    p {
        text-align: left;
        border: none;
        position: relative;
    }
}

.taskCard__tasks__task {
    margin: 0 auto;
    margin-bottom: 10px;
    h1 {
        border-bottom: 1px solid lightgrey;
    }
    p {
        display: inline;
        text-overflow: ellipsis;
    }
}

.input__checkbox {
    text-align: right;
    margin-top: 5px;
    input {
        &:hover {
            cursor: pointer;
        }
    }
}

.taskCard__title {
    margin: 10px 0;
    h1, h2 {
        padding: 10px 0;
    }
}
