.taskCard__title {
    text-align: center;
    input {
        max-width: 136px;
        text-align: center;
        border: none;
    }
}

.taskCard__tasks {
    p {
        max-width: 116px;
        text-align: left;
        border: none;
        // border-bottom: 1px solid grey;
        position: relative;
    }
}

.taskCard__tasks__task {
    margin: 0 auto;
    max-width: 136px;
    display: flexbox;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    p {
        display: inline;
        text-overflow: ellipsis;
    }
}

